*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bitter', serif;
    
}

.Encabezado{
    width: 100%;
    height: 300px;
    color:whitesmoke;
  
    text-align: center;
    background: hsl(198, 43%, 11%); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(198, 44%, 11%, 0.562), hsla(195, 35%, 19%, 0.527), hsla(198, 39%, 28%, 0.562)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(198, 43%, 11%, 0.74), hsla(194, 35%, 19%, 0.712), hsla(197, 38%, 28%, 0.678)), url(../IMG/pc2.JPG); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.Encabezado h1{
    padding: 30px;
    font-size: 250%;
    color:  white;
}

.Encabezado h3{
    font-size: 150%;
    color:  white;
}

.Ola{
    position: absolute;
    bottom: 0;
    width: 100%;  
}

.Titulo {
    text-align: center;
}

.Tareas{
    padding: 2% 0;  
    width: 100%;
    max-width: 80%;
    margin: auto;
    overflow: hidden;
}

.Tareas-{
    display: flex;
    justify-content: space-evenly;
}

.Tareas h3 span{
    font-size: 80%;
    background-color: rgb(16, 33, 40);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 4.4%;
    height: 4.4%;
    margin-right: 2%;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.Tareas p {
    font-size: 100%;
}
.Tareas h1{
    color: rgb(16, 33, 40);
}

.Tareas h3{
    color: rgb(16, 33, 40);
    font-size: 150%;
}

.Img{
    width: 200%;
    height: 150%;
}

@media screen and (max-width: 500px){
   
    .ContenedorTareas {
        width: 100%;
    }
    
    .Img {
        display: none;
        justify-content: unset;
    }
    
    .Encabezado h1 {
         font-size: 200%;
    }
        
    .Encabezado h3 {
         font-size: 100%;
    }
}


